$ff-primary: "Source Sans Pro", sans-serif;
$ff-secondary: "Source Code Pro", monospace;

$fw-reg: 300;
$fw-bold: 900;

// var(--clr-light): #f2f2f2;
// var(--clr-dark): #303030;
// var(--clr-light): #f2f2f2;
// var(--clr-dark): #303030;
// var(--clr-accent): #16e0bd;
// var(--clr-accent): #42A5F5;

$fs-h1: 3rem;
$fs-h2: 2.25rem;
$fs-h3: 1.25rem;
$fs-body: 1rem;

$bs-primary: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
  0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  --clr-light: #f2f2f2;
  --clr-dark: #303030;
  --clr-accent: #42a5f5;
}

html[data-theme="dark"] {
  --clr-light: #303030;
  --clr-dark: #f2f2f2;
  --clr-accent: #29c7ac;
}

html.theme-transition,
html.theme-transition *,
html.theme-transition *:before,
html.theme-transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  font-family: $ff-primary;
  font-size: $fs-body;
  line-height: 1.6;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  padding: 1rem;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: $fw-bold;
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

.btn {
  display: inline-block;
  background: transparent;
  border: none;
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-color: #f2f2f2;
  color: #f2f2f2;
  // border-color: var(--clr-light);
  // color: var(--clr-light);
  border-width: 0.1rem;
  border-style: solid;
  font-size: $fs-h3;
  position: relative;
  cursor: pointer;
  outline: none;
  font-weight: $fw-bold;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 2rem;
    height: 2rem;
    transition: 0.3s ease;
    border-color: var(--clr-accent);
    border-style: solid;
  }

  &::before {
    top: -0.5em;
    left: -0.6rem;
    border-width: 0.1rem 0 0 0.1rem;
  }
  &::after {
    bottom: -0.5em;
    right: -0.5em;
    border-width: 0 0.1rem 0.1rem 0;
  }

  &:hover {
    color: var(--clr-dark);
    border-color: var(--clr-accent);
    background: var(--clr-accent);
    transition: 0.3s ease;
  }

  &:hover::after {
    width: calc(100% + 1.2rem);
    height: calc(100% + 1.25rem);
  }

  &:hover::before {
    width: calc(100% + 1.2rem);
    height: calc(100% + 1.25rem);
  }

  &:active {
    transform: scale(0.99);
  }
}

.section__img-hero {
  box-shadow: $bs-primary;
}

h1 {
  font-size: $fs-h1;
}

h2 {
  font-size: $fs-h2;
}

h3 {
  font-size: $fs-h3;
}

p {
  margin-bottom: 0.5rem;
}

.section__title {
  margin-bottom: 0.25rem;
}

.section__title--hero {
  font-weight: $fw-reg;

  strong {
    display: block;
  }
}

.section__subtitle {
  font-size: $fs-h3;
}

.section__subtitle--hero,
.section__subtitle--about-me {
  background: var(--clr-accent);
  padding: 0.25rem 1rem;
  font-family: $ff-secondary;
  margin-bottom: 1rem;
}

.section__subtitle--my-work,
.section__subtitle--contact-me {
  color: var(--clr-accent);
  font-weight: $fw-bold;
  margin-bottom: 2rem;
}

// NAV
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(500px);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: relative;

  .logo {
    text-decoration: none;
    color: var(--clr-accent);
    font-size: 1.1rem;
    font-weight: 600;
  }

  .nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    // background-color: var(--clr-dark);
    background-color: #303030;
    // color: var(--clr-light);
    color: #f2f2f2;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);

    &__list {
      height: 100%;
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;

      .nav__item {
        margin: 1rem;
        opacity: 0;
        transform: translateX(100%);

        .nav__link {
          color: #f2f2f2;
          font-size: $fs-h2;
          text-decoration: none;
          transition: color 0.3s;

          &:hover {
            color: var(--clr-accent);
          }
        }
      }
    }
  }
}

.nav-toggle {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: none;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1.25rem;
  z-index: 10000;

  &__line {
    display: block;
    position: relative;
  }
  &__line,
  &__line::before,
  &__line::after {
    background: var(--clr-accent);
    width: 2rem;
    height: 3px;
    border-radius: 1rem;
    transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  }

  &__line::before,
  &__line::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
  }
  &__line::before {
    top: 6px;
  }

  &__line::after {
    bottom: 6px;
  }
}

.nav.open {
  transform: translateX(0);

  .nav__item {
    opacity: 0;
    animation: fadeIn 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
  }
  .nav__item:nth-child(1) {
    animation-delay: 0.1s;
  }
  .nav__item:nth-child(2) {
    animation-delay: 0.2s;
  }
  .nav__item:nth-child(3) {
    animation-delay: 0.3s;
  }
  .nav__item:nth-child(4) {
    animation-delay: 0.4s;
  }
  .nav__item:nth-child(5) {
    animation-delay: 0.5s;
  }
}

.nav.closed {
  transition-delay: 0.4s;

  .nav__item {
    opacity: 1;
    transform: translateX(0);
    animation: fadeOut 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
  }
  .nav__item:nth-child(5) {
    animation-delay: 0s;
  }
  .nav__item:nth-child(4) {
    animation-delay: 0.1s;
  }
  .nav__item:nth-child(3) {
    animation-delay: 0.2s;
  }
  .nav__item:nth-child(2) {
    animation-delay: 0.3s;
  }
  .nav__item:nth-child(1) {
    animation-delay: 0.4s;
  }
}

.nav-toggle.open {
  // position: fixed;

  .nav-toggle__line {
    transform: rotate(0.625turn);
  }

  .nav-toggle__line::before {
    transform: rotate(90deg) translateX(-6px);
  }

  .nav-toggle__line::after {
    opacity: 0;
  }
}

@media (min-width: 600px) {
  .hero {
    display: grid;
    grid-template-areas:
      "img title"
      "img subtitle";
    column-gap: 1rem;
    width: min-content;
    margin: 0 auto;
    grid-auto-columns: min-content max-content;

    .section__title--hero {
      grid-area: title;
      align-self: end;
      opacity: 0;
      transform: translateY(-500px);
      animation: slideTop 1s forwards;
      animation-delay: 0.5s;
      text-align: right;
    }

    .section__img-hero {
      grid-area: img;
      position: relative;
      min-width: 250px;
      opacity: 0;
      transform: translateX(-500px);
      animation: slideLeft 1s forwards;
      animation-delay: 1.2s;
      filter: flip;
    }

    .section__subtitle--hero {
      grid-area: subtitle;
      align-self: start;
      grid-column: -1/1;
      grid-row: 2;
      text-align: right;
      position: relative;
      left: -1rem;
      width: calc(100% + 2rem);
      opacity: 0;
      transform: translateX(2000px);
      animation: slideRight 1s forwards;
      animation-delay: 1.5s;
    }
  }
}

@keyframes slideTop {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeft {
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideRight {
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 800px) {
  .my-services {
    max-width: 1000px;
    display: flex;
    margin: 0 auto;

    .my-service + .my-service {
      margin-left: 2rem;
    }
  }
}

@media (min-width: 600px) {
  .about-me {
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 800px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    column-gap: 2rem;

    .section__title--about-me {
      grid-area: title;
    }

    .section__subtitle--about-me {
      grid-column: 1/-1;
      grid-row: 2;
      position: relative;
      left: -1rem;
      width: calc(100% + 2rem);
      padding-left: 1rem;
      padding-right: calc(200px + 4rem);
    }

    .about-me__img {
      grid-row: 1/-1;
      grid-column: 2;
      position: relative;
      z-index: 2;
      box-shadow: $bs-primary;
    }
  }
}

// .contact-form
.contact-me {
  background: var(--clr-dark);
  background-image: linear-gradient(
      to bottom,
      rgba(48, 48, 48, 0.6),
      rgba(48, 48, 48, 1)
    ),
    url(img/portfolio-details-01.jpg);
  // background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 1rem 4rem;
  color: #f2f2f2;
  // color: var(--clr-light);
}

.section__title--contact-me {
  color: var(--clr-accent);
  text-align: center;
}

.section__subtitle--contact-me {
  color: inherit;
  text-align: center;
}

.contact-form {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  &__row {
    margin-bottom: 1.3rem;
    position: relative;
  }

  &__label {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
    // text-transform: uppercase;
  }

  &__name,
  &__mail,
  &__message {
    border: none;
    padding: 0.5rem;
    width: 100%;
    background: transparent;
    border: 1px solid #f2f2f2;
    border-radius: 0.5rem;
    font-family: $ff-secondary;
    font-size: 0.8rem;
    color: inherit;
  }

  &__row i {
    visibility: hidden;
    position: absolute;
    top: 42px;
    right: 10px;
  }

  &__info {
    color: #e74c3c;
    visibility: hidden;
  }

  &__submit-btn {
    margin-left: 0.5rem;
    margin-top: 0.6rem;
  }
}

.contact-form__row.success {
  i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
  }
}

.contact-form__row.error {
  i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
  }

  .contact-form__info {
    visibility: visible;
  }
}

// .hero {
.hero {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

// .services
.services {
  // background-color: var(--clr-dark);
  background-color: #303030;
  background-image: linear-gradient(rgba(48, 48, 48, 0.4)),
    url(img/services-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  // background-blend-mode: overlay;
  // color: var(--clr-light);
  color: #f2f2f2;
  text-align: center;
  padding: 3rem 1rem;
}

.my-services {
  margin-bottom: 4rem;
}

.my-service {
  max-width: 500px;
  margin: 0 auto;
}

.section__title--services {
  color: var(--clr-accent);
  position: relative;
}
.section__title--services::after {
  content: "";
  display: block;
  height: 2px;
  width: 3rem;
  background-color: currentColor;
  margin: 0.5rem auto 1rem;
  opacity: 0.5;
}

// .about me
.about-me {
  margin-top: 2rem;
  margin-bottom: 2rem;

  &__img {
    margin: 0 auto;
  }
}

// .my-work
.my-work {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: var(--clr-light);
  text-align: center;

  .section__title--my-work {
    color: var(--clr-accent);
  }

  .section__subtitle--my-work {
    color: var(--clr-dark);
  }

  .portfolio {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    .portfolio__item {
      background: var(--clr-accent);
      overflow: hidden;

      &:focus {
        position: relative;
        z-index: 2;
      }

      &:focus .portfolio__img {
        transform: scale(1.1);
        opacity: 0.75;
      }

      .portfolio__img {
        transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1),
          opacity 0.25s;

        &:hover {
          transform: scale(1.1);
          opacity: 0.75;
        }
      }
    }
  }
}

.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 3rem 1rem;

  &__link {
    color: inherit;
    font-weight: $fw-bold;
    text-decoration: none;
    font-size: $fs-h3;
    transition: 0.3s;

    &:hover {
      opacity: 0.7;
      text-decoration: underline;
    }
  }

  .social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &__item {
      margin: 1rem;

      .social-list__link {
        color: inherit;
        font-size: $fs-h3;
        padding: 0.5rem;
        font-size: $ff-secondary;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 26px;
    background: var(--clr-accent);
    display: block;
    margin: 0 auto;
    border-radius: 999px;
    position: relative;
  }

  label:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 999px;
    transition: 0.3s;
  }

  input:checked + label {
    background: var(--clr-accent);
  }

  input:checked + label:after {
    left: calc(100% - 3px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 45px;
  }

  &__copyright {
    margin-top: $fs-h3;
    color: #f2f2f2;
  }
}

.portfolio-details {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;

  &__description {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  &__img {
    height: 40vh;
    width: 100%;
    object-fit: cover;
    margin: 2rem 0;
  }
}
