*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f2f2f2;
  color: #303030;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  padding: 1rem;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: 900;
}

:focus {
  outline: 3px solid #42A5F5;
  outline-offset: 3px;
}

.btn {
  display: inline-block;
  background: transparent;
  border: none;
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-color: #f2f2f2;
  color: #f2f2f2;
  border-width: 0.1rem;
  border-style: solid;
  font-size: 1.25rem;
  position: relative;
  cursor: pointer;
  outline: none;
  font-weight: 900;
}

.btn::before, .btn::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-color: #42A5F5;
  border-style: solid;
}

.btn::before {
  top: -0.5em;
  left: -0.6rem;
  border-width: 0.1rem 0 0 0.1rem;
}

.btn::after {
  bottom: -0.5em;
  right: -0.5em;
  border-width: 0 0.1rem 0.1rem 0;
}

.btn:hover {
  color: #303030;
  border-color: #42A5F5;
  background: #42A5F5;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn:hover::after {
  width: calc(100% + 1.2rem);
  height: calc(100% + 1.25rem);
}

.btn:hover::before {
  width: calc(100% + 1.2rem);
  height: calc(100% + 1.25rem);
}

.btn:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.section__img-hero {
  -webkit-box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
          box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  margin-bottom: 0.5rem;
}

.section__title {
  margin-bottom: 0.25rem;
}

.section__title--hero {
  font-weight: 300;
}

.section__title--hero strong {
  display: block;
}

.section__subtitle {
  font-size: 1.25rem;
}

.section__subtitle--hero,
.section__subtitle--about-me {
  background: #42A5F5;
  padding: 0.25rem 1rem;
  font-family: "Source Code Pro", monospace;
  margin-bottom: 1rem;
}

.section__subtitle--my-work,
.section__subtitle--contact-me {
  color: #42A5F5;
  font-weight: 900;
  margin-bottom: 2rem;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  position: relative;
}

.header .logo {
  display: inline-block;
  max-width: 100px;
}

.header .nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #303030;
  color: #f2f2f2;
  z-index: 1000;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 0.5s cubic-bezier(0.39, 0.575, 0.565, 1), -webkit-transform 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.header .nav__list {
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .nav__list .nav__item {
  margin: 1rem;
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.header .nav__list .nav__item .nav__link {
  color: #f2f2f2;
  font-size: 2.25rem;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.header .nav__list .nav__item .nav__link:hover {
  color: #42A5F5;
}

.nav-toggle {
  padding: 0.5rem;
  background: none;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 10000;
}

.nav-toggle__line {
  display: block;
  position: relative;
}

.nav-toggle__line, .nav-toggle__line::before, .nav-toggle__line::after {
  background: #42A5F5;
  width: 2rem;
  height: 3px;
  border-radius: 1rem;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1), -webkit-transform 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}

.nav-toggle__line::before, .nav-toggle__line::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.nav-toggle__line::before {
  top: 6px;
}

.nav-toggle__line::after {
  bottom: 6px;
}

.nav.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav.open .nav__item {
  opacity: 0;
  -webkit-animation: fadeIn 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
          animation: fadeIn 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}

.nav.open .nav__item:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.nav.open .nav__item:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.nav.open .nav__item:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.nav.open .nav__item:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.nav.open .nav__item:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.nav.closed {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.nav.closed .nav__item {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: fadeOut 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
          animation: fadeOut 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}

.nav.closed .nav__item:nth-child(5) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.nav.closed .nav__item:nth-child(4) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.nav.closed .nav__item:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.nav.closed .nav__item:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.nav.closed .nav__item:nth-child(1) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.nav-toggle.open .nav-toggle__line {
  -webkit-transform: rotate(0.625turn);
          transform: rotate(0.625turn);
}

.nav-toggle.open .nav-toggle__line::before {
  -webkit-transform: rotate(90deg) translateX(-6px);
          transform: rotate(90deg) translateX(-6px);
}

.nav-toggle.open .nav-toggle__line::after {
  opacity: 0;
}

@media (min-width: 600px) {
  .hero {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "img title" "img subtitle";
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: 0 auto;
    grid-auto-columns: -webkit-min-content -webkit-max-content;
    grid-auto-columns: min-content max-content;
  }
  .hero .section__title--hero {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: title;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    opacity: 0;
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation: slideTop 1s forwards;
            animation: slideTop 1s forwards;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    text-align: right;
  }
  .hero .section__img-hero {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: img;
    position: relative;
    min-width: 250px;
    opacity: 0;
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    -webkit-animation: slideLeft 1s forwards;
            animation: slideLeft 1s forwards;
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
    -webkit-filter: flip;
            filter: flip;
  }
  .hero .section__subtitle--hero {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: subtitle;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    grid-column: -1/1;
    -ms-grid-row: 2;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1rem;
    width: calc(100% + 2rem);
    opacity: 0;
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
    -webkit-animation: slideRight 1s forwards;
            animation: slideRight 1s forwards;
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
  }
}

@-webkit-keyframes slideTop {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideTop {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideLeft {
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideLeft {
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideRight {
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideRight {
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (min-width: 800px) {
  .my-services {
    max-width: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
  .my-services .my-service + .my-service {
    margin-left: 2rem;
  }
}

@media (min-width: 600px) {
  .about-me {
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 800px;
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 200px;
        grid-template-columns: 1fr 200px;
        grid-template-areas: "title img" "subtitle img" "text img";
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .about-me .section__title--about-me {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: title;
  }
  .about-me .section__subtitle--about-me {
    grid-column: 1/-1;
    -ms-grid-row: 2;
    grid-row: 2;
    position: relative;
    left: -1rem;
    width: calc(100% + 2rem);
    padding-left: 1rem;
    padding-right: calc(200px + 4rem);
  }
  .about-me .about-me__img {
    grid-row: 1/-1;
    -ms-grid-column: 2;
    grid-column: 2;
    position: relative;
    z-index: 2;
    -webkit-box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
            box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  }
}

.contact-me {
  background: #303030;
  background-image: url(img/portfolio-details-01.jpg);
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 1rem 4rem;
  color: #f2f2f2;
}

.section__title--contact-me {
  color: #42A5F5;
  text-align: center;
}

.section__subtitle--contact-me {
  color: inherit;
  text-align: center;
}

.contact-form {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.contact-form__row {
  margin-bottom: 1.3rem;
  position: relative;
}

.contact-form__label {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
}

.contact-form__name, .contact-form__mail, .contact-form__message {
  border: none;
  padding: 0.5rem;
  width: 100%;
  background: transparent;
  border: 1px solid #f2f2f2;
  border-radius: 0.5rem;
  font-family: "Source Code Pro", monospace;
  font-size: 0.8rem;
  color: inherit;
}

.contact-form__row i {
  visibility: hidden;
  position: absolute;
  top: 42px;
  right: 10px;
}

.contact-form__info {
  color: #e74c3c;
  visibility: hidden;
}

.contact-form__submit-btn {
  margin-left: 0.5rem;
  margin-top: 0.6rem;
}

.contact-form__row.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.contact-form__row.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.contact-form__row.error .contact-form__info {
  visibility: visible;
}

.hero {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.services {
  background-color: #303030;
  background-image: url(img/services-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-blend-mode: hard-light;
  color: #f2f2f2;
  text-align: center;
  padding: 3rem 1rem;
}

.my-services {
  margin-bottom: 4rem;
}

.my-service {
  max-width: 500px;
  margin: 0 auto;
}

.section__title--services {
  color: #42A5F5;
  position: relative;
}

.section__title--services::after {
  content: "";
  display: block;
  height: 2px;
  width: 3rem;
  background-color: currentColor;
  margin: 0.5rem auto 1rem;
  opacity: 0.5;
}

.about-me {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.about-me__img {
  margin: 0 auto;
}

.my-work {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #f2f2f2;
  text-align: center;
}

.my-work .section__title--my-work {
  color: #42A5F5;
}

.my-work .section__subtitle--my-work {
  color: #303030;
}

.my-work .portfolio {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (minmax(230px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.my-work .portfolio .portfolio__item {
  background: #42A5F5;
  overflow: hidden;
}

.my-work .portfolio .portfolio__item:focus {
  position: relative;
  z-index: 2;
}

.my-work .portfolio .portfolio__item:focus .portfolio__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.75;
}

.my-work .portfolio .portfolio__item .portfolio__img {
  -webkit-transition: opacity 0.25s, -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.25s, -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.25s;
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.25s, -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.my-work .portfolio .portfolio__item .portfolio__img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.75;
}

.footer {
  background: #111;
  color: #42A5F5;
  text-align: center;
  padding: 3rem 1rem;
}

.footer__link {
  color: inherit;
  font-weight: 900;
  text-decoration: none;
  font-size: 1.25rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__link:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.footer .social-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .social-list__item {
  margin: 1rem;
}

.footer .social-list__item .social-list__link {
  color: inherit;
  font-size: 1.25rem;
  padding: 0.5rem;
  font-size: "Source Code Pro", monospace;
}

.footer .social-list__item .social-list__link:hover {
  opacity: 0.7;
}

.footer__copyright {
  margin-top: 1.25rem;
  color: #f2f2f2;
}

.portfolio-details {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

.portfolio-details__description {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-details__img {
  height: 40vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 2rem 0;
}
/*# sourceMappingURL=style.css.map */